<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col">
                <b-form-input type="search" v-model="filter" @change="search" placeholder="Enter entity number"></b-form-input>
                <div class="mt-2 alert alert-primary" v-if="inputIsIdNumber">Input may be a South African ID number</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b-table
                        ref="caseTable"
                        striped hover
                        selectable
                        :busy.sync="isBusy"
                        :select-mode="'single'"
                        :items="caseData"
                        :fields="visibleFields"
                        :filter="filter"
                        :filterIncludedFields="filterIncludedFields"
                        @row-selected="onRowSelected"></b-table>
            </div>
            <div class="col" v-if="showCaseModel">
                <button class="close" v-on:click="closeCaseModel()">X</button>
                <pre>{{caseModel}}</pre>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios/dist/axios';

    export default {
        name: 'CaseTable',
        data() {
            return {
                isBusy: false,
                caseData: [],
                visibleFields: ['entityNumber','migrationEligibility','migrationCandidate','currentCardBrand'],
                inputIsIdNumber: false,
                filter: null,
                filterIncludedFields: ['entityNumber','migrationEligibility','migrationCandidate','currentCardBrand'],
                caseModel: null,
                showCaseModel: false
            };
        },
        watch: {
            filter: function (val) {
                if (val) {
                    this.inputIsIdNumber = val.length === 13;
                }
            }
        },
        created() {
            this.getInitialData();
        },
        methods: {
            getInitialData: function() {
                this.isBusy = true;
                axios.get('http://localhost:3001/caseData')
                    .then(response => this.caseData = response.data)
                    .finally(() => this.isBusy = false);
            },
            onRowSelected: function (caseData) {
                this.caseModel = caseData[0];
                this.showCaseModel = !!this.caseModel;
            },
            closeCaseModel: function () {
                this.$refs.caseTable.clearSelected();
            },
            search: function (input) {
                if (!input) {
                    this.getInitialData();
                    return;
                }

                this.caseData = [];
                this.isBusy = true;

                axios.get('http://localhost:3001/caseData?entityNumber='+input)
                    .then(response => {
                        if (response.data) {
                            this.caseData = [response.data];
                        } else {
                            console.info('this search led nowhere, resetting...');
                            this.getInitialData();
                            this.filter = null;
                        }
                    })
                    .finally(() => this.isBusy = false);
            }
        },
        filters: {
            pretty: function(value) {
                return JSON.stringify(JSON.parse(value), null, 2);
            }
        }
    };
</script>

<style scoped>
    .close {
        position: absolute;
        right: 0;
        z-index: 1;
    }
    pre {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 5px 10px;
        position: absolute;
        width: 100%;
    }
</style>
