<template>
    <div class="container">
        <h1>{{ message }}</h1>
        <div class="row">
            <case-table/>
        </div>
    </div>
</template>

<script>
    import CaseTable from './components/CaseTable';

    export default {
        name: 'App',
        data() {
            return {
                message: 'Case editor',
            };
        },
        components: {
            CaseTable
        }
    };
</script>

<style scoped>
    .container {
        padding: 20px 0;
    }
</style>
